
.content-blocker_on_all_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(136, 136, 204, 0.5);
    z-index: 4444;
}

.content_center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

.my_footer{
    position: absolute;
	left: 0;
	bottom: 100;
	width: 100%;
}
