{% load blog_tags %}
{% load static %}
{% load thumbnail %}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}">
    <title>Market </title>
    <meta name="author" content="Вадим Дрок">
    <meta name="description" content="Сайт с обьявлениями, маркетплейс - покупайте и продавайте.">
    <meta name="keywords" content="обьявления, маркетплейс, купить, продать, магазин">
</head>
<body>
    <div>
        {% include 'main/include/header.html' %}
    </div>
    <div class="container">
        <div class="col-lg-12">
            <div>
                <!-- add current time Tag (my custom Tag) -->
                Test current time {% current_time %}
            </div>  
            <div class="wrapper_content">
                    <!-- NavBar -->
                {% include 'main/include/navbar.html' %} 
                {% block content %}
                {% endblock %}       
            </div>
            
            <!-- nav paginator -->
            {% if page_obj.has_other_pages %}
            <div>                
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                        
                        {% for my_page in paginator.page_range %}
                            
                            {% if page_obj.number == my_page %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{my_page}}</a>
                                </li>
                            {% elif my_page >= page_obj.number|add:-2 and my_page <= page_obj.number|add:2 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{my_page}}">{{my_page}}</a>
                                </li>
                            {% endif %}
                            
                        {% endfor %}

                        {% if page_obj.has_next %}
                                <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                                </li>
                        {% endif %}
                        
                    </ul>
                </nav>                
            </div>
            {% endif %}            
        </div>

        </div> 
        <!-- Footer    -->
    <div class="my_footer">
        {% include 'main/include/footer.html' %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</body>
</html>